<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- Card column -->

  <div fxFlex.gt-sm="100%" fxFlex="100">
    <mat-card>
      <form [formGroup]="form" (submit)="store()">
        <mat-tab-group>
          <mat-tab label="{{ 'English' | translate}}">
            <mat-card-content>
              <app-input-validation field="nameEn" [theForm]="form"></app-input-validation>
              <app-input-validation field="symbolEn" [theForm]="form"></app-input-validation>
            </mat-card-content>
          </mat-tab>
          <mat-tab label="{{ 'Arabic' | translate}}">
            <mat-card-content>
              <app-input-validation field="nameAr" [theForm]="form"></app-input-validation>
              <app-input-validation field="symbolAr" [theForm]="form"></app-input-validation>
            </mat-card-content>
          </mat-tab>

        </mat-tab-group>
        <div class="p-10">
          <mat-checkbox class="checkbox-block" [formControl]="form.controls['isBaseCurrency']"
                        [labelPosition]="'before'">
            {{'isBaseCurrency' | translate}}
          </mat-checkbox>
          <app-input-validation field="exchangeRate" type="number" [theForm]="form"></app-input-validation>
          <app-input-validation field="code" [theForm]="form"></app-input-validation>
        </div>
        <mat-card-actions class="p-10">
          <button mat-raised-button color="primary"
                  type="submit"
                  [disabled]="!form.valid">
            {{ 'save'| translate}}
          </button>
          <mat-spinner [diameter]="20" *ngIf="isLoading"></mat-spinner>
        </mat-card-actions>

      </form>
    </mat-card>
  </div>
</div>
