<div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
  <mat-card>
    <mat-card-content *ngIf="coupons.length > 0">
      <div class="comment-widgets" fxLayout="row wrap" @list>
        <!-- Comment Row -->
        <app-crud-list
          fxFlex.gt-lg="25" fxFlex.gt-md="33.3" fxFlex.gt-xs="100" fxFlex="100"
          *ngFor="let coupon of coupons; let i=index;"
          [cardTitle]="coupon.code"
          [cardDescription]="coupon.startDate + ' | ' + coupon.endDate"
          (deleteEvent)="delete(coupon.id,i)"
          editLink="/coupons/edit/{{coupon.id}}"
          @items></app-crud-list>

      </div>
    </mat-card-content>
  </mat-card>
</div>



