<div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
  <mat-card>
    <mat-card-content *ngIf="brands.length > 0">
      <div class="comment-widgets" fxLayout="row wrap" @list>
        <!-- Comment Row -->
        <app-crud-list
          fxFlex.gt-lg="25" fxFlex.gt-md="33.3" fxFlex.gt-xs="100" fxFlex="100"
          *ngFor="let brand of brands; let i=index;"
          [cardTitle]="brand.nameEn"
          [smallImage]="apiUrl+brand.image"
          [cardDescription]="brand.nameEn"
          (deleteEvent)="delete(brand.id,i)"
          editLink="/brands/edit/{{brand.id}}"
          @items></app-crud-list>

      </div>
    </mat-card-content>
  </mat-card>
</div>



