<div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
  <mat-card>
    <mat-card-content *ngIf="catalogs.length > 0">
      <div class="comment-widgets" fxLayout="row wrap" @list>
        <!-- Comment Row -->
        <app-crud-list
          fxFlex.gt-lg="25" fxFlex.gt-md="33.3" fxFlex.gt-xs="100" fxFlex="100"
          *ngFor="let catalog of catalogs; let i=index;"
          [cardTitle]="catalog.nameEn"
          [cardDescription]="catalog.nameEn"
          (deleteEvent)="delete(catalog.id,i)"
          editLink="/catalogs/edit/{{catalog.id}}"
          showLink="/catalogs/{{catalog.id}}/products"
          @items></app-crud-list>

      </div>
    </mat-card-content>
  </mat-card>
</div>



