<div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
  <mat-card>
    <mat-card-content *ngIf="attributes.length > 0">
      <div class="comment-widgets" fxLayout="row wrap" @list>
        <!-- Comment Row -->
        <app-crud-list
          fxFlex.gt-lg="25" fxFlex.gt-md="33.3" fxFlex.gt-xs="100" fxFlex="100"
          *ngFor="let attribute of attributes; let i=index;"
          [cardTitle]="attribute.nameEn"
          [cardDescription]="attribute.nameEn"
          [cardDate]="attribute.updatedAt"
          (deleteEvent)="delete(attribute.id,i)"
          editLink="/attributes/edit/{{attribute.id}}"
          @items></app-crud-list>

      </div>
    </mat-card-content>
  </mat-card>
</div>




